/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/contact
*/
#contact
{
    background:transparent;
}
/*
    CONTACT CSS ------------------------
*/
#contact_page
{
    padding: 2rem;
    margin: 3rem auto;
}
.contact_us
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact_page div
{
    font: 1rem var(--write);
}
#contact_page div a
{
    padding: 1rem;
    font: 1rem var(--write);
    color:var(--skyblue);
}
#contact_page div a:hover
{
    font-weight: bold;
}
/*
    MAP CSS ----------------------------
*/
#location
{
    padding: 2rem;
    width: 100%;
    height: 80vh;
}
/*
    THE END ============================
*/