/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/home
*/
/*
    INTRO CSS ---------------------------
*/
#intro
{
    background:var(--white);
}
p
{
    padding: 1rem;
    line-height: 40px;
    font: 16spx var(--write);
    color:var(--dark);
}
.em
{
    padding: 1rem;
    line-height: 30px;
    font:14px var(--write);
    color:var(--light);
}
/*
    WELCOME CSS -------------------------
*/
#welcome
{
    background: url(../data/bg.jpg) no-repeat fixed;
    background-size: cover;
    background-blend-mode: overlay;
}
#lonch
{
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    place-content: center;
    text-align: center;
    background: linear-gradient(rgba(11,33,45,0.5),var(--lblue));
}
#logo
{
    margin:atuo;
}
#logo img
{
    width: 100px;
    height: auto;
    object-fit: contain;
}
h1
{
    padding: 5rem 0;
    font:3rem 'arial';
    color:var(--white);
}
strong
{
    font:normal 1.5rem var(--write);
    color:var(--light);
}
#explore_btn
{
    display: inline-block;
    width: 200px;
    margin: 3rem auto;
    padding: 1rem 1rem;
    font:normal 17px 'arial';
    color:var(--white);
    border:1px solid var(--lskyblue);
    border-radius: 2rem;
}
#explore_btn:hover
{
    transition: all linear 0.2s;
    background:var(--skyblue);
    border-color: var(--skyblue);
    box-shadow: 5px 5px 10px var(--dblue);
}
/*
    VEDIO PAGE CSS ----------------------
*/
#vedio_page
{
    background: var(--light);
    padding: 5rem 0;
}
h2
{
    padding: 1rem 2rem;
    font: 2rem 'arial';
    color: var(--light);
    background: var(--skyblue);
}
/*
    VEDIO FRAME CSS
*/
#vedio_frame
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px var(--lblue);
    background:var(--white);
}
#vedio
{
    position: relative;
    padding: 0.5rem;
    width: 50%;
    display: inline-block;
}
#vedio img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#vedio img:hover
{
    border:2px solid var(--light);   
}
/*
    WHY US CSS
*/
#whyus
{
    padding: 1rem;
    width: 50%;
    display: grid;
}
.vedio_detail
{
    display:flex;
}
h6
{
    padding: 0.5rem 1rem;
    font: normal 18px 'arial';
    color:var(--skyblue);
}
/*
    FACT CSS ---------------------------
*/
#fact
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5rem;
}
.fact_box
{
    padding:5rem 0.5rem;
    text-align: center;
}
.fact_box h6
{
    color:var(--dskyblue);
}
.count_number
{
    padding: 0.5rem 1rem;
    font-size: 4rem;
    color:var(--black);
}
/*
    FEATURE CSS ------------------------
*/
#feature
{
    padding-bottom:3rem;
}
h3
{
    padding: 3rem 1rem;
    font: normal 18px 'arial';
    color:var(--blue);
}
.feature_box
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 1rem auto;
}
.feature_img
{
    padding: 1rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.feature_title
{
    padding: 2rem;
    font: 1.2rem var(--write);
    color:var(--lblue);
}
/*
    THE END ============================
*/