/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/layout
*/
/*
    MAIN CSS ---------------------------
*/
#main
{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}
/*
    HEADER CSS -------------------------
*/
#header
{
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* BrandName */
#brand_name
{
    padding: 1rem 2rem;
    font:25px var(--write);
    color:var(--white);
}
#menu_btn
{
    display: none;
    padding: 1rem 2rem;
    font-size:1.5rem;
    color:var(--light);
}
#menu_btn:hover
{
    color:var(--skyblue);
}
/* Nav */
#nav
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 0 2rem;
}
#nav a
{
    padding: 1rem;
    text-align: center;
    color:var(--white);
    border-bottom: 1px solid  transparent;
}
#nav a:hover,
#nav a:active
{
    color:var(--skyblue);
    border-color: var(--lskyblue);
}
/*
    CONTAINER CSS ----------------------
*/
#container
{
    width: 100%;
}
#goto_btn
{
    position: fixed;
    right: 2vh;
    bottom: 2vh;
    z-index: -5;
    padding:0.5rem 0.8rem;
    font:bolder 1.5rem 'arial';
    color:var(--white);
    background:var(--skyblue);
    border-radius: 10px;
}
#goto_btn:hover
{
    background:var(--lblue) ;
}
.center
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hidden
{
    display: none;
}
/*
    MENU CSS --------------------------
*/
#menu
{
    padding: 0.1rem  2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--light);
}
#menu h3
{
    padding: 0.5rem;
}
.back
{
    padding: 1rem;
    font: normal 1.2rem var(--writes);
}
.back > a
{
    display: inline-block;
    color:var(--skyblue);
}
.back > a:hover
{
    color:var(--lblue);
}
/*
    FOOTER CSS -------------------------
*/
#footer
{
    background: var(--dblue);
}
/* NewsLetter */
#newsletter
{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--lblue);
}
/* Left */
h4
{
    padding: 1rem;
    letter-spacing: 1px;
    font:23px var(--write);
    color: var(--lskyblue);
}
/* Right */
#newsletter form
{
    width: 80%;
    padding: 0.2rem;
    margin:3rem auto;
    display: flex;
    background: var(--lblue);
    border-radius: 1.1rem;
}
#email_fld
{
    width:70%;
    padding: 0.5rem;
    font:17px 'arial';
    color: var(--white);
    background: transparent;
    border-radius: 1rem 0 0 1rem;
}
#email_fld::placeholder
{
    color:var(--skyblue);
}
#email_btn
{
    width:30%;
    padding: 0.5rem;
    font:17px 'arial';
    color:var(--white);
    background: var(--skyblue);
    border-radius: 1rem;
}
#email_btn:hover
{
    color:var(--blue);
    background: var(--lskyblue);
}
/* BaseLinks */
#baselink
{
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.link_box
{
    padding:3rem 0;
}
h5
{
    padding: 1rem;
    font:18px 'arial';
    color:var(--lskyblue);
}
.links
{
    display: grid;
}
.ent1
{
    padding: 0.5rem 1rem;
    color:var(--skyblue);
}
.links a
{
    display: inline-block;
    padding: 1rem 0.5rem;
    font:380 14px var(--write);
    color: var(--light);
}
.links a:hover
{
    color:var(--lskyblue);
}
.links a:hover .ent1
{
    color:var(--white);
}
.links > .ent1 + a
{
    padding: 1rem;
}
/* CopyRight */
#copy_right
{
    display: flex;
    justify-content: center;
    background: var(--blue);
}
.copy, .right
{
    text-align: center;
    font:14px 'arial';
    color:var(--white);
}
#copy_right a
{
    line-height: 5rem;
    color:var(--skyblue);
}
/*
    THE END ============================
*/