/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/profile
*/
#profile
{
    min-height: 100vh;
}
/*
    PRO CSS ---------------------------
*/
#pro_page
{
    width: 80%;
    margin: 3rem auto;
}
.box
{
    border:2px solid var(--dark);
}
/*
    THE END ============================
*/