/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/responsive
*/

/*
    1200PX SCREEN CSS ------------------------------
*/
@media (max-width: 1200px)
{
    /* LAYOUT */
    main
    {
        padding-top: 3.8rem;
    }
    /* HEADER */
    #header
    {
        width: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 10;
    }
    /* TEAM */
    #team_page
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/*
    992PX SCREEN CSS -------------------------------
*/
@media (max-width: 992px)
{
    /* HEADER */
    #menu_btn
    {
        display: none;
    }
    #nav
    {
        display:grid;
        padding: 0 2rem;
        grid-template-columns: repeat(6,1fr);
        width: auto;
        position:none;
        top: 0;
        left: 0;
        background: transparent;
    }
    #nav a
    {
        text-align: center;
        border-bottom:2px solid transparent;
    }
    /* VEDIO */
    #vedio_frame
    {
        flex-flow: column wrap;
    }
    #vedio
    {
        width: 100%;
    }
    #whyus
    {
        width: 100%;
    }
    /* ABOUT */
    #detail_box
    {
        width: 90%;
    }
    /* FACT */
    #fact
    {
        padding:0;
    }
    /* FEATURE */
    .feature_box
    {
        width: 90%;
    }
    /* TEAM */
    #team_page
    {
        grid-template-columns: repeat(3,1fr);
    }
    /* SERVICE */
    #service_page
    {
        grid-template-columns: repeat(3,1fr);
    }
    /* PRICE */
    #price_page
    {
        grid-template-columns: repeat(2,1fr);
    }
    /* FOOTER */
    #newsletter
    {
        padding: 1rem 2rem;
        grid-template-columns: 1fr;
    }
    .left
    {
        padding: 1rem 2rem;
    }
    form
    {
        width: 90%;
        margin:3rem auto;
    }
    #baselink
    {
        padding: 3rem 3rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:1fr auto;
    }
}
/*
    768PX SCREEN CSS -----------------------------------
*/
@media (max-width: 768px)
{
    /* HEADER */
    #menu_btn
    {
        display: inline-block;
    }
    #nav
    {
        padding: 2rem;
        display:none;
        grid-template-columns: 1fr;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 3.8rem;
        left: 0;
        background: rgba(23, 69, 94, 0.9);
    }
    #nav a
    {
        text-align: left;
        border:none;
    }
    /* VEDIO */
    #vedio_frame
    {
        width: 90%;
    }
    /* ABOUT */
    #detail
    {
        grid-template-columns: 1fr;
    }
    #detail_box
    {
        width: 100%;
    }
    #tec
    {
        height: 300px;
        clip-path: polygon(0%40%, 0%100%, 100%100%, 100%0%);
    }
    /* POLICY */
    #policy
    {
        width: 90%;
    }
    /* FACT */
    #fact
    {
        grid-template-columns:repeat(3,1fr);
    }
    .fact_box
    {
        padding: 1rem 1.5rem;
    }
    /* FEATURE */
    .feature_box
    {
        width: 80%;
        grid-template-columns: 1fr;
    }
    .feature_img
    {
        padding: 3rem;
        grid-row: 1/2;
    }
    .feature_title
    {
        padding: 3rem;
        text-align: center;
    }
    /* TEAM */
    #team_page
    {
        grid-template-columns: repeat(2,1fr);
    }
    /* SERVICE */
    #service_page
    {
        grid-template-columns: repeat(2,1fr);
    }
    /* PRICE */
    .price_box .amount
    {
        padding: 2rem 0;
        font: 4rem var(--write);
    }
    /* CONTACT */
    #contact_page
    {
        width: 100%;
        padding: 0;
    }
    /* CONTACT US */
    .contact_us
    {
        grid-gap:1rem;
        grid-template-columns: 1fr;
        margin:1rem;
        padding: 1rem;
        background: var(--dblue);
        border-radius: 1rem;
    }
    #contact_page div
    {
        color:var(--light);
    }
    /* MAP */
    #location
    {
        padding: 1rem;
    }
}
/*
    576PX SCREEN CSS -----------------------------------
*/
@media (max-width: 576px)
{
    /* MENU */
    #menu
    {
        padding: 0.1rem  0.5rem;
    }
    .back
    {
        padding: 1rem;
    }
    /* ABOUT */
    ul li::first-letter
    {
        margin-left: 2px;
    }
    /* FACT */
    #fact
    {
        padding:2rem 0.5rem;
        grid-template-columns:1fr 1fr;
        grid-gap:0.5rem;
    }
    .fact_box
    {
        background:var(--dblue);
        border-radius: 1rem;
    }
    .count_number
    {
        font-size: 3rem;
        color:var(--white);
    }
    /* VEDIO */
    #vedio_page
    {
        padding: 3rem 0;
    }
    #vedio_frame
    {
        width: 90%;
        border-radius: 0;
    }
    .fa_vedio
    {
        padding: 0;
    }
    /* HIDDEN */
    .hidden
    {
        display: block;
    }
    /* FEATURE */
    #feature
    {
        padding-bottom: 1rem;
    }
    .feature_box
    {
        width: 100%;
    }
    .feature_img
    {
        padding: 3rem;
    }
    .feature_title
    {
        padding: 2rem;
    }
    /* FAQ */
    #faq > div
    {
        width:90%;
    }
    /* TEAM */
    #team_page
    {
        grid-gap: 2rem;
        grid-template-columns: 1fr;
    }
    /* SERVICE */
    #service_page
    {
        grid-template-columns: 1fr;
    }
    /* PRICE */
    #price_page
    {
        grid-template-columns: 1fr;
    }
    .price_box .amount
    {
        padding: 2rem 0;
        text-align: right;
        font: 4rem var(--write);
    }
    /* MAP */
    #location
    {
        padding: 0;
        height: 100vh;
    }
    /* FOOTER */
    #newsletter
    {
        padding: 1rem 0.5rem;
        grid-template-columns: 1fr;
    }
    .left
    {
        padding: 1rem;
    }
    form
    {
        width: 100%;
        margin:2rem auto;
    }
    #email_fld
    {
        width:100%;
    }
    #email_btn
    {
        width:40%;
    }
    /* BASE */
    #baselink
    {
        padding: 3rem 3rem;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr auto auto;
    }
    .link_box
    {
        padding: 1.5rem 0;
    }
    /* COPY */
    #copy_right
    {
        display: grid;
    }
    #copy_right a
    {
        line-height: 3rem;
    }
    .copy
    {
        padding-top: 1rem;
    }
    .right
    {
        padding-bottom: 1rem;
    }
}
/*
    THE END ============================
*/