/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/service
*/
#service
{
    min-height: 100vh;
}
/*
    SERVICE CSS ------------------------
*/
#service_page .container
{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    padding: 5rem 2rem;
}
.srv_icon .bi
{
    display:inline-block;
    margin: 1rem auto;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5rem;
}
.service_card
{
    display: inline-block;
    padding: 1rem;
    text-align: center;
    color:var(--dark);
    border:1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--gray);
}
/* box colour */
.service_card:nth-child(1) .srv_icon .bi
{
    color: #0bd6d6;
    background: rgba(11, 214, 214,0.2);
}
.service_card:nth-child(2) .srv_icon .bi
{
    color: #7cf000;
    background: rgba(124, 240, 0, 0.2);
}
.service_card:nth-child(3) .srv_icon .bi
{
    color: #ff69b4;
    background: rgba(255, 105, 180,0.2);
}
.service_card:nth-child(4) .srv_icon .bi
{
    color:#6a5acd;
    background: rgba(106, 90, 205, 0.2);
}

.service_card:nth-child(5) .srv_icon .bi
{
    color: #ffa600;
    background: rgba(255, 166, 0, 0.2);
}
.service_card:nth-child(6) .srv_icon .bi
{
    color:#dc143c;
    background: rgba(220, 20, 60, 0.2);
}
.service_card:nth-child(7) .srv_icon .bi
{
    color: #fa8072;
    background: rgba(250, 128, 114, 0.2);
}
.service_card:nth-child(8) .srv_icon .bi
{
    color:#4682b4;
    background: rgba(70, 130, 180, 0.2);
}
.service_card:nth-child(9) .srv_icon .bi
{
    color:#1e272e;
    background: rgba(30, 39, 46,0.2);
}
/* hover effect */
.service_card:nth-child(1):hover
{
    border-color:#0bd6d6;
}
.service_card:nth-child(2):hover
{
    border-color: #7cf000;
}
.service_card:nth-child(3):hover
{
    border-color:#ff69b4;
}
.service_card:nth-child(4):hover
{
    border-color:#6a5acd;
}
.service_card:nth-child(5):hover
{
    border-color:#ffa600;
}
.service_card:nth-child(6):hover
{
    border-color:#dc143c;
}
.service_card:nth-child(7):hover
{
    border-color: #fa8072;
}
.service_card:nth-child(8):hover
{
    border-color:#4682b4;
}
.service_card:nth-child(9):hover
{
    border-color:#1e272e;
}
/* end trand */
.service_card .srv_icon .bi
{
    opacity: 1;
}
.service_card:hover .srv_icon .bi
{
    opacity: 0.5;
}
.serve_title
{
    font-size:large;
    color:var(--blue1);
}
.service_card:last-child .serve_title
{
    color:var(--blue2);
}

/*
THE END ============================
*/
