/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/style
*/
/*
    -------------------
    | GOOGLE FONT URL |
    -------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/*
    ------------------------
    | FONTAWESOME ICON URL |
    ------------------------
*/
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");
/*
    ---------------------
    | SECTION CSS SHEET |
    ---------------------
*/
@import "layout.css";
@import "home.css";
@import "about.css";
@import "team.css";
@import "contact.css";
@import "service.css";
@import "profile.css";
@import "responsive.css";
*
{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family:'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:var(--black);
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body
{
    scroll-behavior: smooth;
}
:root
{
    --black:#1e272e;
    --dark:#95afc0;
    --dark:#627785;
    --white:#fff;
    --light:#f1f6fe;
    --lskyblue:#a2cce3;
    --skyblue:#4fa6d5;
    --dskyblue:#68A4C4;
    --lblue:#17455e;
    --blue:#0d2735;
    --dblue:#02131d;
    --write:'Dosis', sans-serif;
}
::selection
{
    color:var(--skyblue);
    background: black;
}
::placeholder
{
    color:var(--lblue);
}
::-webkit-scrollbar
{
    width: 0.5rem;
    background: var(--blue);
}
::-webkit-scrollbar-thumb
{
    background: var(--light);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--skyblue);
}
/*
    ------------------------
    | FontAsesome Icon CSS |
    ------------------------
*/
.fa
{
    margin: 0;
    padding: 0.5rem;
    font-size: auto;
    color:#17455e;
}
.fa:before
{
    font-family: 'Font Awesome 5 Free';
}
/*
    SOLID -------------------------------
*/
.fa.solid:before
{
    font-weight: bolder;
}
.fa.solid:is(:hover, :before)
{
    color:#4fa6d5;
}
/*
    BRANDS ------------------------------
*/
.fa.brands:before
{
    font-family: 'Font Awesome 5 Brands';
}
.fa.brands:is(:hover, :before)
{
    color:#4fa6d5;
}
/*
    SOCIALMEDIA CSS
*/
.social
{
    padding: 1.5rem 0.5rem ;
    display: flex;
    justify-content: space-between;
}
.social .media .fa
{
    font-size: 1rem;
    background: var(--dskyblue);
    border-radius: 5px;
}
.social .media .fa:hover
{
    background: var(--light);
}
/*
    [ CONTINUE ] ------------------------
*/
.contact_us .fa
{
    color: var(--dark);
    padding: 0 1rem;
}
#socail_contact .fa
{
    font-size: 1.5rem;
    color:var(--skyblue);
    border-radius: 5px;
}
#socail_contact .fa:hover
{
    background: var(--blue);
}
/*
    VEDIO CSS
*/
#vedio #play .fa
{
    display: inline-block;
    position: absolute;
    padding:1.5rem;
    z-index: 3;
    top:30%;
    left:40%;
    text-align: center;
    font-size: 3rem;
    background: rgba(255, 255, 255,0.6);
    border-radius:50%;
}
#vedio:hover #play .fa
{
    color:var(--light);
    background: var(--dskyblue);
}
/*
    WHYUS CSS
*/
.fa_vedio
{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.fa_vedio .fa
{
    padding: 1rem;
    font-size: 1.5rem;
    background: var(--lskyblue);
    border-radius:5px;
}
.vedio_detail:hover .fa
{
    background: var(--light);
}
/*
    FACT CSS
*/
.fact_fa .fa
{
    padding: 1rem;
    font-size: 2rem;
    color: var(--dark);
    border-radius:5px;
}
.fact_box:hover .fa
{
    color:var(--lblue);
}
/*
    CONTACT CSS
*/
.cnt .fa
{
    font-size: 1rem;
    background: var(--lskyblue);
    border-radius:5px;
}
a:hover .fa
{
    background:var(--light);
}
.contact_us .center .fa
{
    font-size: 1.5rem;
}
/*
    SERVICE CSS
*/
.srv_icon .fa
{
    margin: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 5rem;
}
/*
    THE END ============================
*/