/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/style
*/

/*
    ----------------------
    | Bootstrap ICON URL |
    ----------------------
*/
@import url(bootstrap-icons.min.css);
/*
    ---------------------
    | SECTION CSS SHEET |
    ---------------------
*/
@import "service.css";
/* @import "responsive.css"; */

*
{
    user-select:text;
    margin: 0;
    padding: 0;
    font-family:'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:var(--black);
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body
{
    scroll-behavior: smooth;
}

:root
{
    --blue0:#f1f6fe;
    --blue1:#031633;
    --blue2:#052c65;
    --blue3:#084298;
    --blue4:#0a58ca;
    --blue5:#0d6efd;
    --blue6:#3d8bfd;
    --blue7:#6ea8fe;
    --blue8:#9ec5fe;
    --blue9:#cfe2ff;
    --green1:#d1e7dd;
    --green5:#198754;
    --red1:#f8d7da;
    --red5:#dc3545;
    --dark:#212529;
    --light:#f8f9fa;
    --black:#000;
    --white:#fff;
    --gray:#adb5bd;
}

::selection
{
    color:var(--blue9);
    background: var(--black);
}
::placeholder
{
    color:var(--blue5);
}
::-webkit-scrollbar
{
    width: 0.5rem;
    background: var(--blue);
}
::-webkit-scrollbar-thumb
{
    background: var(--light);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover
{
    background: var(--skyblue);
}


/*
    comman css -------------------------
*/
.container
{
    max-width:1200px;
    margin: 0 auto;
}
.bg
{
    background: linear-gradient(rgba(11,33,45,0.5),var(--blue1));
    backdrop-filter: blur(3px);
}
.bi
{
    margin: 0;
    padding: 0.5rem;
    font-size: auto;
    color:var(--blue1);
}
.lead
{
    margin: auto;
    width: 90%;
    background:var(--white);
}

h1
{
    padding:3rem 1rem;
    font-weight:normal;
    font-size:xx-large;
    color:var(--light);
}
h2
{
    padding: 10vh 0;
    line-height: 7vw;
    font-size: 5vw;
    font-weight: normal;
    color:var(--dark);
}
h3
{
    font-size:2rem;
}
h4
{
    font:2rem;
    color:var(--black);
}
h5
{
    padding: 2rem 1rem;
    font-weight:normal;
    font-size:1.1rem;
    color:var(--blue6);
}
h6
{
    padding: 1rem;
    line-height:2rem;
    font-size:1rem;
    font-weight: normal;
    color:var(--blue2);
}

p
{
    padding: 1rem;
    line-height:2rem;
    font-size:1rem;
    color:var(--dark);
}

b
{
    font-weight:bolder;
    color:var(--black);
}

strong
{
    width:700px;
    line-height:2rem;
    letter-spacing:1px;
    font-size:1.2rem;
    color:var(--gray);
}

a
{
    display:inline-block;
    color:var(--blue1);
}
a:hover
{
    color:var(--black);
}

#explore_btn
{
    display: inline-block;
    margin: 3rem auto;
    padding: 1rem 1.5rem;
    font-size:medium;
    font-weight:normal;
    color:var(--light);
    border:1px solid var(--blue5);
    border-radius: 1.5rem;
}
#explore_btn:hover
{
    transition: all linear 0.3s;
    background:var(--blue5);
    border-radius:5px;
    transform:scale(1.1);
}

#set_btn
{
    position: fixed;
    z-index: 10;
    right: 5vw;
    bottom: 5vh;
    display: none;
    padding: 5px;
    font-size: 1.7em;
    color: var(--white);
    background: var(--blue5);
    border-radius: 10px;
    border:1px solid var(--blue5);
}
#set_btn:hover
{
    color:var(--blue5);
    background: transparent;
}
.activeNav
{
    display:none;
    opacity: 0;
}
.header_bg
{
    transition: all linear 0.5s;
    background:rgba(13, 110, 253, 0.8);
}

/*
    header css -------------------------
*/

#header
{
    position: fixed;
    width: 100%;
    z-index: 15 ;
    overflow: hidden;
}
#header .container
{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* brandname */

#brand_name
{
    display:inline-block;
    padding: 1rem 2rem;
    font-size:1rem;
    font-weight:bold;
    color:var(--blue9);
}
#toggle_btn
{
    display: none;
    font-size:1.5rem;
    padding: 10px;
    color:var(--light);
    border-radius: 0 1rem;
}
#toggle_btn:hover
{
    background: var(--dark);
}

/* nav */

#nav
{
    display: flex;
    padding: 0 2rem;
}
#nav a
{
    display:inline-block;
    padding: 6px 10px;
    margin: auto 2px;
    color:var(--light);
    border-radius: 5px;
}
#nav a:hover,
#nav a:active
{
    transition: all linear 0.3s;
    color:var(--blue5);
    background: var(--blue0);
}

/*
    footer css -------------------------
*/

#footer
{
    padding-top: 3rem;
    background: var(--light);
}

/* baselinks */

#baselink .container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:1rem 0;
}
.link_box
{
    padding:2rem 0;
    /* border:1px solid red; */
}
.links
{
    display: grid;
}
.links b
{
    padding:1rem;
}
.links a
{
    padding:1.5rem 1rem;
    letter-spacing: 1px;
    font-size:smaller;
    color: var(--dark);
    opacity: 0.8;
}
.links a:hover
{
    color:var(--blue1);
    opacity: 1;
}
.links .ent1
{
    color:var(--gray);
}
.links a:hover .ent1
{
    color:var(--blue7);
}

#mail_btn
{
    display: inline-block;
    width: 130px;
    margin: 1rem;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    color:var(--blue5);
    background: var(--black);
    border-radius: 10px;
}
#mail_btn .bi
{
    font-size:1.2em;
    color:var(--blue6);
}
#mail_btn:hover
{
    background: var(--dark);
}

/* social media */

#social .container .row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 5rem;
    padding: 1rem 2rem;
    background: rgba(33, 37, 41, 0.5) url(../data/bg2.jpg) no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
    border-radius: 10px;
}
#social p
{
    color: var(--light);
}
#social .row .col:last-child
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#social .media
{
    padding: 2rem;
}
#social .media .bi
{
    font-size: 2em;
    color:var(--light);
}
#social .media:last-child .bi
{
    font-size: 1.8em;
}
#social .media .bi:hover
{
    text-shadow: 0 0 50px var(--light);
}


/* copyright */

#copyRight
{
    background:var(--black);
}
#copyRight .container
{
    padding:2rem 1rem;
    color:var(--white);
}

#copyRight a
{
    font-weight:bold;
    color:var(--blue8);
}
#copyRight a:hover
{
    font-size:1rem;
}

/*
    WELCOME CSS -------------------------
*/

#welcome
{
    background: url(../data/w3.jpg) no-repeat fixed;
    background-size: cover;
    background-blend-mode: overlay;
}
#lonch
{
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    place-content: center;
    text-align: center;
}
#logo
{
    margin:atuo;
}
#logo img
{
    width: 100px;
    height: auto;
    object-fit: contain;
}

/*
    FACT CSS ---------------------------
*/

#fact .container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5rem;
}
.fact_icon .bi
{
    padding: 1rem;
    font-size: 2rem;
    color:var(--blue7);
    border-radius:5px;
}
.fact_box:hover .bi
{
    color:var(--lblue);
}
.fact_box
{
    padding:5rem 0.5rem;
    text-align: center;
}
.count_number
{
    padding: 0.5rem 1rem;
    font-size: 3rem;
    color:var(--blue1);
}

/*
    VEDIO PAGE CSS ----------------------
*/
#vedio_page
{
    background: var(--light);
    padding: 5rem 0;
}
/*
    VEDIO FRAME CSS
*/
#vedio_frame
{
    width: 80%;
    margin: 0 auto;
	display:grid;
	grid-template-columns:repeat(2,1fr);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px var(--gray);
    background:var(--white);
}
#vedio
{
    position: relative;
    padding: 5px;
    display: inline-block;
}
#vedio img
{
    width: 100%;
    height: 100%;
    border-radius:5px;
    object-fit: cover;
}
#vedio #play .bi
{
    position:absolute;
    top:0;
    left:0;
    display:grid;
    height:100%;
    width:100%;
    place-content:center;
    font-size:3rem;
    background: rgba(255, 255, 255,0.3);
    color:var(--blue6);
}
#vedio:hover #play .bi
{
    transition:all linear 1s;    
    background: rgba(255, 255, 255,0.6);
}
/*
    WHY US CSS
*/
#whyus
{
    padding: 1rem;
    display: grid;
}
.fa_vedio
{
    padding: 1rem;
    display: flex;
    align-items: center;
}
.vedio_detail
{
    display:flex;
}
.fa_vedio .bi
{
    padding: 1rem;
    font-size: 1.5rem;
    background: var(--blue0);
    border-radius:5px;
}
.vedio_detail:hover .bi
{
    background: var(--blue9);
}
/*
    TEAM CSS ---------------------------
*/
#team_page .container
{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5rem 2rem;
}
.team_member
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
    background:var(--blue0);
    box-shadow: 2px 2px 5px var(--gray);
    border-radius: 5px;
}
.member
{
    padding: 10px;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 / 1; */
    object-fit: 100% 100%;
    filter: grayscale();
    /* border-radius: 50%; */
}
.member_detail
{
    position:absolute;
    z-index: 5;
    top: -100%;
    left:0;
    width: 100%;
    height: 90%;
    background: var(--dark);
    border-bottom: 1px double var(--blue1);
    clip-path: polygon(0%0%, 0%100%, 100%85%, 100%0%);
}
.member_detail :is(b,p)
{
    padding: 10px 20px;
    padding-bottom: 1rem;
    line-height: 4rem;
    font-size: 1rem;
    color:var(--blue0);
    border-bottom:1px solid var(--blue6);
}
.member_detail p
{
    line-height: 2rem;
    font-size: small;
    border-color:transparent;
}

/* profile button */

.profile_btn
{
    position: absolute;
    z-index: 6 ;
    bottom:5px;
    right:0;
    /* width: 80%; */
    /* margin: 5%; */
    padding: 10px 20px;
    text-align: center;
    color:var(--light);
    background: var(--blue7);
    border-radius: 10px 0 0 10px;
}
.bi-globe-asia-australia
{
    font-size: 1em;
    color: var(--blue0);
}
.profile_btn:hover
{
    transition: all 0.2s linear;
    padding: 10px;
    color:var(--light);
    background: var(--blue6);
}

.team_member:hover .member_detail
{
    transition: all 0.5s linear;
    top:0;
}

/* join us */

#join
{
    text-align: center;
    border-radius: 10px;
    background: transparent;
    border: 3px solid var(--blue9);
    box-shadow: none;
}
#join:hover
{
    border-color: var(--blue6);
}
#join .border
{
    width: 60%;
    margin: 2rem auto;
    border:1px solid var(--blue9);
}
#join .center
{
    text-align: center !important;
}

.bi-person-fill-add
{
    display: inline-block;
    width: 70px;
    margin:2rem auto;
    padding: 10px;
    font-size: 3em;
    color:var(--light);
    background: var(--blue6);
    border-radius: 1rem;
}


/*
    FEATURE CSS ------------------------
*/
#feature
{
    padding-bottom:3rem;
}
h3
{
    padding: 3rem 1rem;
    font-size: 1rem;
    font-weight:normal;
    color:var(--blue);
}
#feature .box
{
    display: grid;
    grid-gap:2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 3rem auto;
    padding: 2rem;
}
#feature .image
{
    padding: 1rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}
#feature .title
{
    padding: 2rem;
    word-spacing:4px;
    line-height:2rem;
    font-size: 1.2rem;
    color:var(--black);
    opacity:0.8;   
    border: 3px solid var(--gray);
    border-left: none;
    border-radius: 0 2rem 2rem 0;
}
/*
    DETAIL CSS -------------------------
*/
#detail
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#tec
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(30%0%, 0%100%, 100%100%, 100%0%);
    filter:grayscale(9);
}
#detail_box
{
    width: 80%;
    margin: auto;
    padding: 1rem;
}
ul li
{
    line-height: 2rem;
    list-style: none;
}
ul li::first-letter
{
    padding: 1rem;
    color:var(--dskyblue);
}

/*
    PRICE CSS ---------------------------
*/

.price_container
{
    display: grid;
    grid-gap:2rem;
    grid-template-columns: repeat(3,1fr) !important;
    padding: 6rem 1rem;
}
.price_card
{
    display: block;
    background: var(--light);
    border-radius: 10px;
}
.price_card:nth-child(1)
{
    background: var(--blue0);
}
.price_card:nth-child(2)
{
    background: var(--blue9);
}
.price_card:hover
{
    box-shadow: 0 0 20px var(--gray);
}
.price_card .title
{
    width: 100px;
    margin: 0 auto 10px 0;
    padding: 10px;
    font-size:1rem;
    color:var(--light);
    background: var(--dark);
    border-radius: 10px 10px 10px 0;
}
.price_card .amount
{
    margin:3rem auto;
    text-align: center;
    font-size: 5rem;
    color:var(--blue1)
}
.price_card .amount sub
{
    font-size: 1rem;
    color: var(--dark);
}
.price_card .option
{
    margin:2rem;
    padding: 2rem 0;
    border-top: 1px solid var(--gray);
}
ol li
{
    list-style: none;
    text-align: left;
    line-height: 3rem;
    color:var(--dark);
}
.bi-check2-circle
{
    display: inline-block;
    color:var(--green5);
    font-size: 1.1em;
    margin-right: 10px;
}

/*
    POLICY CSS -------------------------
*/

.policySection
{
    display: block !important;
    width: 80%;
    margin: 3rem auto;
}
.policySection a
{
    color:var(--blue3);
}
.btn_grp
{
    padding: 1rem;
}
.btn
{
    padding: 0.5rem 1rem;
    color: var(--white);
    background:var(--blue6);
    border-radius: 5px;
}
.btn_grp .btn:hover
{
    background: var(--blue7);
}

/*
    FAQ CSS ----------------------------
*/

#faq
{
    padding: 3rem 0;
    /* background:red; */
}
#faq > div
{
    width:80%;
    margin: auto;
}
details
{
    max-width: 90%;
    margin: 10px auto;
    background:var(--light);
}
summary
{
    list-style-type: circle;
    padding: 1rem;
    color:var(--blue1);
}
details > p
{
    padding: 2rem;
}
/*
    MAP CSS ----------------------------
*/
#location
{
    width: 100%;
    height: 80vh;
    overflow: none;
}
/*
    LOGIN CSS -------------------------
*/
#login
{
    background: rgba(241, 246, 254, 0.6) url(../data/bg1.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}
#login .container
{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}
#login .col:first-child
{
    padding: 2rem;
}
#login .col:last-child
{
    height: 100vh;
    padding: 2rem;
}
#login form
{
    padding: 2rem;
    display: grid;
    grid-gap:2rem;
    width: 80%;
    width: 450px;
    margin: 3rem auto;
    border-radius: 10px;
    box-shadow: 0 0  50px var(--blue9);
}
#login form div
{
    font-size: 2rem;
}
#login label
{
    margin-top: 2rem;
    letter-spacing: 1px;
    color: var(--dark);
}
#login label .bi
{
    margin-right: 1rem;
    border: 1px solid var(--blue5);
    border-radius: 50%;
}
.fld
{
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color:var(--dark);
    background: transparent;
    border-bottom: 3px groove var(--blue9); 
}
#login_btn
{
    width: 200px;
    margin-top: 2rem;
    margin-left: -2rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0 10px 10px 0;
    background: var(--dark);
}
#login_btn:hover
{
    transition: all 0.5s linear;
    width: 175px;
    background: var(--black);
}
.forget_link
{
    padding: 1rem 0;
    text-align: right;
    color:var(--blue7);
}
.forget_link:hover
{
    color:var(--blue6);
}

/*
    COMMENT SECTION ------------------
*/
#menu
{
    /* background: linear-gradient(90deg, var(--blue6), var(--blue0)); */
}
#menu .container
{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#comment .row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 10% auto;
    border: 2px solid var(--light);
    border-left: 5px solid var(--blue5);
}

#comment .row .col:first-child
{
    padding: 2rem;
}

.fldbox
{
    padding: 1rem 0;
}

#comment label
{
    display: inline-block;
    padding: 25px 5px;
}

#comment .fld
{
    padding:1rem;
    border:2px solid var(--blue6);
    border-radius: 10px;
}

#comment textarea
{
    height: 100px;
    overflow: auto;
}

.input_grp
{
    padding: 2rem 0;
}

#submit_btn, #reset_btn
{
    width: 150px;
    padding: 1rem;
    font-size: 1rem;
    display: inline-block;
    background: var(--blue6);
    border:1px solid var(--blue6);
    border-radius: 0;
}
#submit_btn
{
    border-radius: 10px 0 0 10px;
}
#reset_btn
{    
    color:var(--blue6);
    background: transparent;
    border-radius: 0 10px 10px 0;
}
:is(#submit_btn, #reset_btn):hover
{
    color: var(--white);
    background: var(--blue4);
}


/*
    THE END ============================
*/
