/*
-	website-4 "Master"
-	CopyRight by Master Mayank
-	Design & Developed by Mayank
-	CSS : css/team
*/
/*
    TEAM CSS ---------------------------
*/
#team_page
{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    padding: 2rem;
}
.team_member
{
    padding: 0.3rem;
    position: relative;
    width: 100%;
    height: wait(2);
    background:var(--light);
}
.team_member
{
    box-shadow: 2px 2px 5px var(--blue);
}
.member
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.member_detail
{
    position:absolute;
    z-index: -5;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(2, 19, 29, 0.8);
}
.member:hover .member_detail,
.team_member:hover .member_detail
{
    z-index: 5;
}
.profile_btn
{
    position: absolute;
    bottom: 1rem;
    width: 80%;
    padding: 0.5rem;
    text-align: center;
    color: var(--white);
    font:1rem var(--write);
    background:var(--skyblue);
    border-radius: 0 10px 10px 0;
    transition: all linear 0.5s;
}
.profile_btn::first-letter
{
    margin: 1rem 0.5rem;
    color:var(--blue);
}
.profile_btn:hover
{
}
/*
    THE END ============================
*/